{% extends "base.html" %}

{% block content %}
<div>
    <div class="card my-4">
        <div class="card-header">
            <strong>{{ title }}</strong>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}

                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">create post</button>
                    <a class="btn btn-secondary ms-2" href="{% url 'home' %}">home</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}