{% extends "base.html" %}

{% block content %}
<div>
    <a href="{% url 'create'%}" class="btn btn-primary my-4">create</a>
    <div class="card">
        <div class="card-header">
            <strong>POST</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>id</th>
                    <th>author</th>
                    <th>title</th>
                    <th>content</th>
                    <th>create at</th>
                    <th>update at</th>
                    <th>update</th>
                    <th>delete</th>
                </thead>
                <tbody>
                    {% for row in post %}
                    <tr class="align-middle">
                        <td>{{ row.id }}</td>
                        <td>{{ row.author }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.content }}</td>
                        <td>{{ row.created }}</td>
                        <td>{{ row.updated }}</td>
                        <td>
                            <a href="{% url 'update' row.id %}" class="btn btn-secondary">update</a>
                        </td>
                        <td>
                            <form action="{% url 'delete' row.id %}" method="post" name="delete-post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}